@media (max-width: 770px) {
  .left-table {
    width: 100%;
  }
  .right-cart {
    width: 50%;
  }
  .wrap-cart {
    display: flex;

    align-items: center;
  }
}
@media (max-width: 450px) {
  .left-table {
    width: 100%;
  }
  .right-cart {
    width: 100%;
  }
  .wrap-cart {
    display: flex;

    align-items: center;
  }
}
