.cart-slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.cart-slide-out {
  transform: translateX(200%);
  opacity: 0;
  /* display: none; */
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* right: 0; */
}

@media (min-width: 768px) {
  .wrap-nav {
    padding: 0  20px;
  }
}
@media (min-width: 1024px) {
  .wrap-nav {
    padding: 0 20px;
  }
}
@media (min-width: 1440px) {
  .wrap-nav {
    padding: 0 100px;
  }
}
@media (min-width: 1500px) {
  .wrap-nav {
    padding: 0 300px;
  }
}
